
.title{
    background-color: 	#000080;
    padding: 5%;
    font-size: 15px;
    color: white;
    text-align: left;
}

#ajouter, #ajouter button{
    width: 100%;
    border: none;
    border-radius: none;
    --background: 	#FA8072;
}
.button-solid{
    --background: 	#FA8072;
}