<ion-header>
  <ion-toolbar>
    <ion-title class="title" lot="start">WorldVisit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> World Visit </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <app-country
      *ngFor="let country of countries"
      [country]="country"
    ></app-country>
  </ion-list>
  <ion-button id="ajouter" class="no_border" (click)="navigate()" >Ajouter</ion-button>
</ion-content>

 

