.no_border, .title{
    --border-radius: none;
    --border: none; 
    margin: 0%;
}

#search{
    background-color: lightgrey;
   
}

.title{
    background-color: 	#000080;
    padding: 5%;
    font-size: 15px;
    color: white;
    text-align: left;
}